

body {
  background-image: url('./Static/background2.svg');
  background-size: cover;
  background-attachment: fixed;
}

.dashboard-background {
  background-size: 30%;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(233, 233, 233, 0.7);
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@font-face {
  font-family: 'Eiko';
  src: url('./Static/Eiko.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Accessibility Mode Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


/* Color Pallette */
/* :root {
  --beaver: #b98b73ff;
  --buff: #cb997eff;
  --desert-sand: #ddbea9ff;
  --champagne-pink: #ffe8d6ff;
  --dun: #d4c7b0ff;
  --ash-gray: #b7b7a4ff;
  --sage: #a5a58dff;
  --reseda-green: #6b705cff;
  --black-olive: #3f4238ff;
} */
